A CSS document to style the HTML page:

/justina.css/
body{
font-family: tahoma, geneva;
background linear-gradient
color: #444;
text-align: center;
}

/* hot-weather.css */

body {
font-family: tahoma, geneva;
background: linear-gradient
color: #333;
text-align:center;
}
  
h1 {
font-size: 2em;
Color: #ff3c00;
}

.weather-icon {
font-size: 5em;
color: #ffca3a;
}

footer {
margin-top: 3em;
color:#444;
}
